@charset "UTF-8";
body{
    background: linear-gradient(to bottom, #7db9e8 0%,#2989d8 21%,#2989d8 52%,#207cca 78%,#207cca 78%,#207cca 83%,#7db9e8 99%); 
}
/* em html é id = em css #
    em hrml class = . css */


h1#principal{ 
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
   
}

.nome{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
}

.mulher{

    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-top: 30px;
}

.subtitulo{
    color: rgb(49, 71, 4);             
    text-align: center;
    text-decoration: underline;
}

.assunto{
    text-align:center;
    color: aliceblue;
    text-decoration: underline;
}



.conteudo{
    
    text-align: center;
    margin: auto;
    height: 65px;
    width: 450px;
    color: rgb(8, 9, 8);
    font-size: 5mm;
    border-style: solid ;
    padding-top: 40px;
    padding-bottom: 45px;

   
    
}


.seletor{
    position: absolute;
    right: 0px;
}

div.titulo{
    width: 300px;
}
.pessoal{
    width: 500px;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.diretoria{
    width: 300px;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.reuniao{
    width: 350px;
    left: 300px;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.foto-1{
    width: 250px;
padding-left: 30px;
}


.conteudo-op{

    color: yellow;
    text-align: center;
    margin: auto;
    height: 65px;
    width: 450px;
    border-color: black;
    font-size: 5mm;
    border-style: solid ;
    padding-top: 40px;
    padding-bottom: 45px;}