@charset "UTF-8";
@import url();

:root{
    --cor1:#94b6b9;
    --cor2:#6f8e91;
    --cor3:#4a6769;
    --cor4:#253f42;
    --cor5:#00181a;

--fonte-titulo:"Prompt", sans-serif;
--fonte-subtitulo:"Poppins", sans-serif;
--fonte-conteudo:"PT Sans", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:var(--cor1);
    font-family: var(--fonte-titulo);
}

header{
    font-family: var(--fonte-titulo);
    color: var(--cor5);
    background-image:  linear-gradient(to left, var(--cor1), transparent);
    text-align: center;
}

header > h1{
    font-family: var(--fonte-subtitulo);
    

}